@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1175px;
    margin: 0 auto;
}
/* header */
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header_nav_text{
    margin-right: 30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #444444;
}
/* main */
.main{
    background: url('../img/photos/backgr.png') no-repeat center center / cover;
}
.main_wrapper{
    padding-top: 245px;
    padding-bottom: 60px;
}
.main_logo{
    display: block;
    margin: 0 auto;
}
.main_title{
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
    padding-bottom: 150px;
}
.main_arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/* goal */
.goal_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.goal_text{
    margin-right: 100px;
}
.goal_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.goal_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #45525B;
    width: 490px;
}
.goal_info{
    width: 561px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.goal_woman{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.goal_info_woman{
    margin-left: 8px;
}
.goal_name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.goal_profession{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
/* req */
.req_wrapper{
    padding-top: 100px;
}
.req_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.req_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #45525B;
    margin-bottom: 13px;
}
.req_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;
}
.req_content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.req_photo{
    margin-right: 30px;
}
.req_btns{
    display: grid;
}
.req_btn{
    text-align: left;
    width: 300px;
    height: 167px;
    border: none;
    background: none;
    padding-left: 21px;
    margin-bottom: 20px;
}
.req_btn:hover{
    background: #FAFAFC;
    border: 1px solid rgba(202, 204, 209, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
}
.req_btn_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.req_btn_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}