@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
.container{
    width: 1175px;
    margin: 0 auto;
}
/* header */
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header_nav_text{
    margin-right: 30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #444444;
}
/* main */
.main{
    background: url('../img/photos/backgr.png') no-repeat center center / cover;
}
.main_wrapper{
    padding-top: 245px;
    padding-bottom: 60px;
}
.main_logo{
    display: block;
    margin: 0 auto;
}
.main_title{
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
    padding-bottom: 150px;
}
.main_arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/* goal */
.goal_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.goal_text{
    margin-right: 100px;
}
.goal_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.goal_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #45525B;
    width: 490px;
}
.goal_info{
    width: 561px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.goal_woman{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.goal_info_woman{
    margin-left: 8px;
}
.goal_name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.goal_profession{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
/* req */
.req_wrapper{
    padding-top: 100px;
}
.req_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.req_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #45525B;
    margin-bottom: 13px;
}
.req_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;
}
.req_content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.req_photo{
    margin-right: 30px;
}
.req_btns{
    display: grid;
}
.req_btn{
    text-align: left;
    width: 300px;
    height: 167px;
    border: none;
    background: none;
    padding-left: 21px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.req_btn:hover{
    background: #FAFAFC;
    border: 1px solid rgba(202, 204, 209, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
}
.req_btn_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.req_btn_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
/* photo */
.photo{
    background: url('../img/photos/photo_house.png') no-repeat center center / cover;
    height: 600px;
}
/* store */
.store{
    background: #FAFAFC;
}
.store_wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}
.store_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.store_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
    margin-bottom: 13px;
}
.store_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 22px;
    color: #6F7278;
    width: 574px;
}
.store_content{
    margin-bottom: 26px;
}
.store_btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}
.store_btn{
    width: 379px;
    height: 385px;
    border: none;
    background: white;
}
.store_btn:hover{
    box-shadow: 0 0 5px #333333;
}
.store_btn_photo{
    margin-top: -20px;
}
.store_btn_subtitle{
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
.store_btn_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #45525B;
}
.store_btn_icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.store_btn_icon{
    display: flex;
}
.store_btn_icon_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #45525B;
    margin-left: 8px;
}
.store_btn_icon2{
    display: flex;
    margin-right: 30px;
}
.store_a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}
.store_arrow_btn{
    text-align: center;
}
/* people */
.people_wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.people_texts{
    margin-right: 110px;
}
.people_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.people_title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
    margin-bottom: 13px;
    width: 310px;
}
.people_subtitle{
    width: 368px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #6F7278;
    margin-bottom: 19px;
}
.people_a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}
.people_card{
    display: flex;
    align-items: center;
    width: 360px;
    margin-bottom: 17px;
    margin-right: 16px;
}
.people_info_woman{
    margin-left: 8px;
}
.people_name{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.people_profession{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
/* newsroom */
.newsroom{
    background: #FAFAFC;
}
.newsroom_wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}
.newsroom_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    text-align: center;
}
.newsroom_title{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
    margin-bottom: 23px;
}
.newsroom_btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}
.newsroom_btn{
    border-radius: 10px 10px 0px 0px;
    width: 376px;
    height: 364px;
    border: none;
    background: white;
    text-align: left;
}
.newsroom_btn:hover{
    box-shadow: 0 0 5px #333333;
}
.newsroom_btn_content{
    padding-left: 30px;
}
.newsroom_btn_subtitle{
    margin-top: 28px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.newsroom_btn_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #45525B;
}
.newsroom_data{
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6F7278;
}
.newsroom_btn_photo{
    margin-top: -17px;
}
/* contact */
.contact{
    background: #45525B;
}
.contact_text{
    padding-top: 100px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFC;
}
.contact_title{
    margin-bottom: 13px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
.contact_subtitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FAFAFC;
    margin-bottom: 20px;
}
.contact_btns{
    display: flex;
    justify-content: center;
}
.contact_btn{
    margin: 0 10px;
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
    width: 102px;
    height: 44px;
    border: none;
    margin-bottom: 100px
}
.contact_btn:hover{
    box-shadow: 0 0 5px #FAFAFC;
}